# 021 Streams : Answers to exercises

#### Exercise 1

* write code to read from the json-format file `bin/copy/environment.json` into a dictionary called `json_data`.
* print out the dictionary keys.
* print the file size of the json-format file in KB to two decimal places.

In [7]:
# ANSWER
# write code to read from the json-format file 
# bin/copy/environment.json 
# into a dictionary called json_data.
json_file = Path('bin/copy/environment.json')

# use with ... as ... as we have been shown
with json_file.open('r') as f:
    json_data = json.load(f)
    
# print out the dictionary keys.
print(json_data.keys())

# print the file size of the 
# json-format file in KB to two decimal places.
print(f'file {json_file} size {json_file.stat().st_size / 1024 : .2f}')

dict_keys(['name', 'channels', 'dependencies'])
file bin/copy/environment.json size  0.78

#### Exercise 2

The file [2276931.csv](https://raw.githubusercontent.com/UCL-EO/geog0111/master/notebooks/data/2276931.csv) contains precipitation data for an [NOAA weather station](https://www.ncdc.noaa.gov/cdo-web/datasets#GSOY) `HAVANA 4.2 SW, FL US` for the year 2020 to date.

The dataset URL is:

https://raw.githubusercontent.com/UCL-EO/geog0111/master/notebooks/data/2276931.csv

* Inspect the file to discover any issues you must account for.
* Read the file into `pandas` using `url.open('r')`.
* print the first 5 lines of data

In [11]:
# ANSWER
msg = '''
Inspect the file to discover any issues you must account for.

The file is straightforward CVS format, with the first column
the data column titles
'''
print(msg)

import pandas as pd
from geog0111.gurlpath import URL

site = 'https://raw.githubusercontent.com'
site_dir = '/UCL-EO/geog0111/master/notebooks/data'
site_file = '2276931.csv'

# form the URL
url = URL(site,site_dir,site_file)

# Read the file into pandas using url.open('r').
df=pd.read_csv(url.open('r'))

# print the first 5 lines of data
df.head(5)

Inspect the file to discover any issues you must account for.

The file is straightforward CVS format, with the first column
the data column titles

       STATION                  NAME        DATE  PRCP  SNOW
0  US1FLGD0002  HAVANA 4.2 SW, FL US  2020-01-01  0.00   0.0
1  US1FLGD0002  HAVANA 4.2 SW, FL US  2020-01-02  0.00   0.0
2  US1FLGD0002  HAVANA 4.2 SW, FL US  2020-01-03  0.00   0.0
3  US1FLGD0002  HAVANA 4.2 SW, FL US  2020-01-04  0.98   NaN
4  US1FLGD0002  HAVANA 4.2 SW, FL US  2020-01-05  0.00   0.0

#### Exercise 3

Read and print the data in the file '`work/dataset.csv`

In [23]:
# ANSWER
df1=pd.read_csv(Path('work/dataset.csv'))
df1.head()

   x data  y data
0       0       0
1       1       1
2       2       4
3       3       9
4       4      16